.title_container h1 {
  text-transform: capitalize;
}
@media (max-width: 1090px) {
  .title_container h1 {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .title_container h1 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .title_container h1 {
    font-size: 22px;
  }
}
